[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/kailla/Obi/arara/htmlcoisas
Type=Link
URL=file:///home/kailla/Obi/arara/htmlcoisas
Icon=inode-directory
